sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: oZZUe0sr0S3CZCANiCqQvm7FftBV8G7V+abR/VlYULyi1mW71w+R2rmLisju6QDpvPBSQyqPjyiyrS01Wi/xD0ihGi0Gy+43bwmq4S4PoDBn7yiMauMIJtHBnaIKCsppnSasC2XWZM8MX+P/VoCg0im2SKRhRQopVAOat+4/q8gOfB94yVC4wMeiIAUWPAhu6uNGQKgZZMwvMAK+RIswmFJF5L4ovRHme1ozLXBc0kkl7xeX2xAyuYl9gaccwaeVmDvW+sGLmfvOj0DVmebDvhgGZo3witqcxPIzXLr/wjjXfU3lvWdX20XQNlJKkdxLSqjMecANbEqAPzfE2WO8H3+OzeRROSlbpL8YwQ9DvSB2bIDk8EgYeClf8u0juw5SwTXpC2H/SVP+7RKHHC0gJOwSncNTWpv3BcNGbI7k8yuvS471btRF02WASDOqk0vxtsYMgK8UkrB7Sayk9k1DBRy9nDO5EYTNuAT0CjtUZwp0Jc8i+xi6n1vHVnUEVXqE9Ba8lKsQr/ToGBj+eePB1v5Difqz21cPkfwXmjDFFoie2TSLDHttx7TC32ZTnskcrWZ9yvQuf5clujZLlrJdm/XPp6eZcRj7/US9e141lg50ObLzy9+VIBgF0oX/DkNo8zKRO3qNK2DsNJS3WSN3pyMFA7XdNcNTU7MbZk0NAlM=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/In-Defence-of-Harriet-Shelley_3171
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy